<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="LoggerLayoutAppender"/>
        </encoder>
    </appender>
    <!--
    The org.apache http library is used by the aws sdk to perform http requests with the aws backend.
    This library (the http one) outputs as debug the body of all the responses that come back from aws.
    If these responses contain sensitive information that will be written to the logs if debug mode is
    enabled. This occurred when a call to the aws library was executed to get a password out of the
    parameter store. The following config silences the http library.
    -->
    <variable name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}" />
    <variable name="THIRD_PARTY_LOG_LEVEL" value="${THIRD_PARTY_LOG_LEVEL:-INFO}" />

    <logger name="org.apache" level="${THIRD_PARTY_LOG_LEVEL}" additivity="true">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
